
{{#section 'css'}}

{{/section}}


<!-- product list card -->
<div class="card">

	<div class="card-body container-fluid mt-3">


		<div class="mb-5">

			<span  class="badge badge-pill badge-secondary">
				<h5 class="ml-2 mr-2">
					<i class="fas fa-hourglass-end"></i> 5 nearly ended products
				</h5>
			</span>

			<div class="relatedProductContainer row flex-nowrap overflow-hidden" id="nearEndProDiv">
				{{#each this.nearEndPro}}
				<div class="col col-sm-4 mt-2 mb-2">
					{{> item parent=..}}
				</div>

				{{/each}}
			</div>
		</div>
		
		<div class="mb-5">

			<span  class="badge badge-pill badge-primary">
				<h5 class="ml-2 mr-2">
					<i class="fas fa-users"></i> 5 most bid-turn products
				</h5>
			</span>



			<div class="relatedProductContainer row flex-nowrap overflow-hidden" id="nearEndProDiv">
				{{#each this.mostTurnPro}}
				<div class="col col-sm-4 mt-2 mb-2">
					{{> item parent=..}}
				</div>

				{{/each}}
			</div>
		</div>

		<div class="mb-5">

			<span  class="badge badge-pill badge-info">
				<h5 class="ml-2 mr-2">
					<i class="fas fa-dollar-sign"></i> 5 highest price products
				</h5>
			</span>



			<div class="relatedProductContainer row flex-nowrap overflow-hidden" id="nearEndProDiv">
				{{#each this.highestPricePro}}
				<div class="col col-sm-4 mt-2 mb-2">
					{{> item parent=..}}
				</div>

				{{/each}}
			</div>
		</div>



	</div>
</div>


{{#section 'js'}}

<!-- show/hide scroll bar -->
<script type="text/javascript">
	$(()=>{

		// pc mouse enter
		$('.relatedProductContainer').mouseover(function(){
			$(this).removeClass('overflow-hidden');
			$(this).addClass('overflow-auto');

		});

		// mobile mouse enter
		$('.relatedProductContainer').on('touchmove', function(ev) {
			$(this).removeClass('overflow-hidden');
			$(this).addClass('overflow-auto');
		});

		// pc mouse out
		$('.relatedProductContainer').mouseout(function(){
			$(this).removeClass('overflow-auto');
			$(this).addClass('overflow-hidden');

		});

		// mobile mouse out
		$('.relatedProductContainer').on('touchend', function(ev) {
			$(this).removeClass('overflow-hidden');
			$(this).addClass('overflow-auto');
		});
	})
</script>




<!-- highlight nearly end products -->
<script type="text/javascript">

	$(()=>{

	})

	// get list
	var list1 = [];
	var list2 = [];
	var list3 = [];
	{{#each this.nearEndPro}}
	list1.push(
	{
		Id:{{Id}}, 
		EndTime:'{{EndTime}}',
		Price: '{{Max_Price}}',
	});
	{{/each}}//


	{{#each this.mostTurnPro}}
	list2.push(
	{
		Id:{{Id}}, 
		EndTime:'{{EndTime}}',
		Price: '{{Max_Price}}',
	});
	{{/each}}//

	{{#each this.highestPricePro}}
	list3.push(
	{
		Id:{{Id}}, 
		EndTime:'{{EndTime}}',
		Price: '{{Max_Price}}',
	});
	{{/each}}//
	// get list done

	// <!-- timer effect for nearly end products -->
	var listNearEnd = [];
	for(let i = 0; i < list1.length; i++){

		let remains = remainSeconds(list1[i].EndTime);
		if(remains > 0 && remains < 24 * 60 * 60 /*a day*/){

			// red highlight
			$(`#item${list1[i].Id} .endTimeBadge`).addClass('badge-danger');

			// counter for less than 5 minutes
			if(remains < 5 * 60){
				listNearEnd.push(list1[i]);
				// alert("pushed");

			}

		}
	}

	for(let i = 0; i < list2.length; i++){

		let remains = remainSeconds(list2[i].EndTime);
		if(remains > 0 && remains < 24 * 60 * 60 /*a day*/){

			// red highlight
			$(`#item${list2[i].Id} .endTimeBadge`).addClass('badge-danger');

			// counter for less than 5 minutes
			if(remains < 5 * 60){
				listNearEnd.push(list2[i]);
				// alert("pushed");

			}

		}
	}

	for(let i = 0; i < list3.length; i++){

		let remains = remainSeconds(list3[i].EndTime);
		if(remains > 0 && remains < 24 * 60 * 60 /*a day*/){

			// red highlight
			$(`#item${list3[i].Id} .endTimeBadge`).addClass('badge-danger');

			// counter for less than 5 minutes
			if(remains < 5 * 60){
				listNearEnd.push(list3[i]);
				// alert("pushed");
				
			}

		}
	}
	setTimeout(decreaseEndTime, 1000);


	function decreaseEndTime(){
		console.log('timeout');

		// traverse all near end list
		listNearEnd.forEach(item=>{
			let remains = remainSeconds(item.EndTime);

			if(remains > 0){
				// decrease 1 second

				$(`#item${item.Id} .endTimeBadge span`).text('' + remains +' giây nữa');
			}
			else if(remains < 0){


				$(`#item${item.Id} .endTimeBadge span`).text('' + relativeDateTimeConvert(item.EndTime));
				$(`#item${item.Id} .endTimeBadge`).removeClass('badge-danger');



			}
		});

		setTimeout(decreaseEndTime, 1000);
	}






</script>
{{/section}}



