
{{#section 'css'}}

{{/section}}

<!-- body -->
	<div class=" container">


		<div class="body row justify-content-center">

			<!-- main -->
			<div class="main col-sm-6">

				<div class="card">
					<div class="card-body">
						<h4>Create account successfully! We are sending you a verification email. Please wait, thank you!</h4>

						<button type="button" class="btn btn-primary" onclick="location.href='/home/';">
							<i class="fas fa-chevron-left"></i>
						Ok and Return to home</button>


					</div>
				</div>



			</div>

		</div>	


	</div>


{{#section 'js'}}

{{/section}}