

<!-- body -->
<div class=" container">


	<div class="body row justify-content-center">

		<!-- main -->
		<div class="main col-sm-6">

			<div class="card">
				<div class="card-body">
					<h4>Upload product successfully!</h4>
					<br/>
					<div class="d-flex justify-content-between">
						
						<button type="button" class="btn btn-success" onclick="location.href='/product/details?id={{proIdView}}';">
							<i class="fas fa-eye"></i>
						View details</button>

						<button type="button" class="btn btn-primary" onclick="location.href='/home';">
							<i class="fas fa-chevron-left"></i>
						Ok and Return to home</button>
					</div>


				</div>
			</div>



		</div>

	</div>	


</div>