{{#section 'css'}}

{{/section}}



<!-- product list card -->
<div class="card d-flex justify-content-center">

	<div class="card-header">
		Bidding products
	</div>

	<!-- products list -->
	<div class=" d-flex flex-column justify-content-around">

		{{#if this.isEmpty}}
		{{else}}
		<!-- sort by -->
		<div class="dropdown ml-3 mt-3">

			sort by 
			<button type="button" class="sortSelected btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

			</button>

			<div class="dropdown-menu">
				<a class="sortOpt dropdown-item" href="javascript:;" onclick="setSortSelected(this.id)" id="sort1" name="descEndTime"><i class="fas fa-arrow-down"></i> Finish time </a>

				<a class="sortOpt dropdown-item" href="javascript:;" onclick="setSortSelected(this.id)" id="sort2" name="ascPrice"><i class="fas fa-arrow-up"></i> Price </a>

			</div>
		</div>
		{{/if}}

		<div class="itemContainer d-flex flex-row flex-wrap justify-content-start">
			{{#if this.isEmpty}}
			<h5 class="ml-3">
				No product.
			</h5>
			{{else}}


			{{#each this.proList}}
			<div class="col col-sm-4 mt-2 mb-2">
				<div class="item card h-100" id="item{{Id}}">

					<a class="h-50" href="/product/details?id={{Id}}" title="go to product details">
						<img class="card-img-top h-100"
						src="/images/products/{{Id}}/1.jpg" alt="Image of product {{Name}}">
					</a>

					<div class="card-body h-25">

						<a class="linkToItemDetails" href="/product/details?id={{Id}}" title="go to product details: {{Name}}">
							<h5 class="card-title">{{shortenName Name}}</h5>
						</a>

						<dl class="row">

							<dd class="col-sm-8" title="Price to win instantly">
								<i class="fas fa-shopping-cart"></i> Win price
							</dd>
							<dd class="col-sm-4 text-sm-right" title="Price to win instantly">
								{{#if EndPrice}}
								{{cashConvert EndPrice}}
								{{else}}
								<i class="fas fa-ban" title="Not set"></i>
								{{/if}}
							</dd>

							<dd class="col-12 d-flex flex-row justify-content-between" title="{{#ifeq ../userId BidderId}}You are the one who bid highest price{{else}}The highest price paying bidder{{/ifeq}}">

								<span class="text-wrap text-left {{#ifeq ../userId BidderId}}badge badge-warning{{/ifeq}}">
									
									<i class="far fa-user"></i> {{maskenName BidderName}}
									
								</span>
								<span class="text-wrap text-right">{{cashConvert Max_Price}}</span>
							</dd>



							<dd class="col-12 d-flex flex-row justify-content-between">

								<span class="badge badge-secondary text-wrap" title="The date product was uploaded">
									<i class="fas fa-play"></i> {{dmyConvert StartTime}}
								</span>
								<span class="badge badge-primary text-sm-right text-wrap endTimeBadge" title="Time left">
									<i class="fas fa-hourglass-start"></i> <span>{{relativeDateTimeConvert EndTime}}</span>
								</span>
							</dd>



							<dd class="col">
								<div class="badge badge-light badge-lg" title="Number of turns made">
									{{Turn}} turns
								</div>
							</dd>
						</dl>


					</div>

					<!-- list of buttons -->
					<div class="buttons ">
						<button class="addWatchListBtn btn btn-light" title="Add to watch list" onclick="addToWatchList(this)" value="0"  id="btnForItem_{{Id}}"><i class="fas fa-heart"></i>
						</button>


					</div>


				</div> 
			</div>
			{{/each}}
			{{/if}}

		</div>

		<!-- pagination -->
		<div class="pagination d-flex justify-content-start mt-3 ml-3"></div>


	</div>



</div>


{{#section 'js'}}

<!-- pagination -->
<script type="text/javascript" src="/flaviusmatis-simplePagination.js-e32c66e/flaviusmatis-simplePagination.js-e32c66e/jquery.simplePagination.js"></script>

<script type="text/javascript">
	$(()=>{

		
		// pagination
		{{#if this.isEmpty}}
		{{else}}


		$('.pagination').pagination({
			items: {{this.total}},
			itemsOnPage: {{this.onPage}},
			cssStyle: 'light-theme',
			onPageClick: function(pageNumber, event) {
				// Callback triggered when a page is clicked
				// Page number is given as an optional parameter

				window.location.href = `/acc/watchlist?page=${pageNumber}`;
			}

		});

		$('.pagination').pagination('drawPage', {{this.page}});

		{{/if}}
		
	})
</script>


<!-- hight light current menu item -->
<script type="text/javascript">

	$('.biddingListMenu').css('background-color', '#329AD6');

</script>

<!-- sort options -->
<script type="text/javascript">

	$(()=>{


		
	})

	// get list
	var list = [];
	{{#each this.proList}}
	list.push(
	{
		Id:{{Id}}, 
		EndTime:'{{EndTime}}',
		Price: '{{Max_Price}}',
	});
	{{/each}}
	// get list done

	// <!-- timer effect for nearly end products -->
	var listNearEnd = [];
	for(let i = 0; i < list.length; i++){

		let remains = remainSeconds(list[i].EndTime);
		if(remains > 0 && remains < 24 * 60 * 60 /*a day*/){

			// red highlight
			$(`#item${list[i].Id} .endTimeBadge`).addClass('badge-danger');

			// counter for less than 5 minutes
			if(remains < 5 * 60){
				listNearEnd.push(list[i]);
				// alert("pushed");
			}

			setTimeout(decreaseEndTime, 1000);
		}
	}


	function decreaseEndTime(){
		console.log('timout');

		// traverse all near end list
		listNearEnd.forEach(item=>{
			let remains = remainSeconds(item.EndTime);
			if(remains > 0){
				// decrease 1 second
				$(`#item${item.Id} .endTimeBadge span`).text('' + remains +' giây nữa');
			}
			else if(remains < 0){

				$(`#item${item.Id} .endTimeBadge span`).text('' + relativeDateTimeConvert(item.EndTime));
				$(`#item${item.Id} .endTimeBadge`).removeClass('badge-danger');



			}
		});

		setTimeout(decreaseEndTime, 1000);
	}

	

	function setSortSelected(btnId){
		// alert(btnId);
		$('.itemContainer').hide();

		// set sort selected
		var html = $(`#${btnId}`).html();
		$('.sortSelected').html(html);

		

		let sortOpt = $(`#${btnId}`).attr('name');
		// alert(sortOpt);
		if(sortOpt === 'descEndTime')
		{

			// sort list

			for(let i = 0; i < list.length - 1; i++){

				// find the nearest end time product
				for(let k = i + 1; k < list.length; k++){

					let remainK = remainSeconds(list[k].EndTime);
					let remainI = remainSeconds(list[i].EndTime);

					// alert('i: ' + i + ', id:' + list[i].Id);
					// alert('k: ' + k+ ', id:' + list[k].Id);
					
					if((remainI > 0 && remainK > 0 && remainK < remainI)
						||(remainK < 0 && remainI <0 && remainK > remainI)
						||(remainK > 0 && remainI < 0))
					{
						// alert('swap');



						let itemFirst = $(`#item${list[i].Id}`);
						let itemLast = $(`#item${list[k].Id}`);

						let htmlFirst = itemFirst.html();
						itemFirst.html($(itemLast).html());
						$(itemLast).html(htmlFirst);

						itemFirst.attr('id', `item${list[k].Id}`);
						itemLast.attr('id', `item${list[i].Id}`);

						// swap item
						let temp = list[i];
						list[i] = list[k];
						list[k] = temp;
					}
				}



			}



		}
		else if(sortOpt === 'ascPrice'){

			// sort list

			for(let i = 0; i < list.length - 1; i++){

				// find the nearest end time product
				for(let k = i + 1; k < list.length; k++){

					let remainK = +list[k].Price;
					let remainI = +list[i].Price;

					// alert('i: ' + i + ', id:' + list[i].Id);
					// alert('k: ' + k+ ', id:' + list[k].Id);

					if(remainK < remainI){
						// alert('swap' + remainI + "," + remainK);



						let itemFirst = $(`#item${list[i].Id}`);
						let itemLast = $(`#item${list[k].Id}`);

						let htmlFirst = itemFirst.html();
						itemFirst.html($(itemLast).html());
						$(itemLast).html(htmlFirst);

						itemFirst.attr('id', `item${list[k].Id}`);
						itemLast.attr('id', `item${list[i].Id}`);

						// swap item
						let temp = list[i];
						list[i] = list[k];
						list[k] = temp;
					}
				}



			}

		}



		// reset item container
		$('.itemContainer').show(1000);




	}
</script>


<!-- on load -->
<script type="text/javascript">
	$(()=>{

	})
</script>
{{/section}}