


{{#section 'css'}}
{{/section}}


<!-- body -->
<div class=" container">


	<div class="body row justify-content-center">

		<!-- main -->
		<div class="main col-6">

			<div class="card">
				<div class="card-body">
					<h1>Change password</h1>

					<form>


						<div class="passwordDiv form-group">
							<label for="oldPass">Old password</label>

							<input type="password" class=" form-control" id="oldPass">

							<small class="errorPrompt"></small>

						</div>

						<div class="newPassDiv form-group">
							<label for="newPass">New password</label>

							<input type="password" class=" form-control" id="newPass">

							<small class="errorPrompt"></small>

						</div>


						<div class="reNewPassDiv form-group">
							<label for="reNewPass">Re-enter new password</label>

							<input type="password" class=" form-control" id="reNewPass">

							<small class="errorPrompt"></small>
							<br>

							<small id="overalError"></small>

						</div>






						<div>
							<div class=" d-flex flex-row justify-content-between">
								<button type="button" class="btn btn-primary" onclick="changePassword();">
									<i class="fas fa-check"></i>
								Change</button>

								<a class="btn btn-secondary" href="homepage.html">
									<i class="fas fa-chevron-left"></i>
								Cancel and return home page</a>

							</div>

						</div>

					</form>


				</div>
			</div>



		</div>

	</div>	


</div>




{{#section 'js'}}


<!-- form vaidation -->
<script type="text/javascript" src="/js/validate.js"></script>
<script type="text/javascript">




	$('.passwordDiv').focusout(function(){
		var input = $('.passwordDiv input').val();
		if(checkPassword(input) === false){
			var error = '* Password must be longer than 8 characters';
			$('.passwordDiv .errorPrompt').html(error);
		}
		else{
			$('.passwordDiv .errorPrompt').html('');
		}

	});

	$('.newPassDiv').focusout(function(){
		var input = $('.newPassDiv input').val();
		var error = '';
		if(checkPassword(input) === false){
			error = '* Password must be longer than 8 characters';
			$('.newPassDiv .errorPrompt').html(error);
		}
		else{
			$('.newPassDiv .errorPrompt').html('');

			var input2 = $('.reNewPassDiv input').val();
			if(checkSamePassword(input, input2) === false){

				$('#overalError').html('* New password not matched');
			}
			else{
				$('#overalError').html('');
			}
		}



	});

	

	$('.reNewPassDiv').focusout(function(){
		var input = $('.reNewPassDiv input').val();
		if(checkPassword(input) === false){
			var error = '* Password must be longer than 8 characters';
			$('.reNewPassDiv .errorPrompt').html(error);
		}
		else{
			$('.reNewPassDiv .errorPrompt').html('');

			var input2 = $('.newPassDiv input').val();
			if(checkSamePassword(input, input2) === false){

				$('#overalError').html('* New password not matched');
			}
			else{
				$('#overalError').html('');
			}
		}



	});




	function validateForm(){

		var error = '* Please fill in correct information. The red text indicates that you are writing wrong.';
		var input1 = $('.passwordDiv input').val();
		var input2 = $('.newPassDiv input').val();
		var input3 = $('.reNewPassDiv input').val();


		if( 
			input1.length === 0||
			input2.length === 0||
			input3.length === 0)
		{


			// not satisfied
			//$('#overalError').html(error);

			return false;
		}
		else if(
			checkPassword(input1) === false ||
			checkPassword(input2) === false||
			checkPassword(input3) === false ||
			checkSamePassword(input2, input3) === false			
			)
		{
			// not satisfied
			//$('#overalError').html(error);

			return false;
		}
		else
		{
			// satisfied
			$('#overalError').html('');
			$('.errorPrompt').html('');
			return true;

		}



	}


</script>

<!-- change password -->
<script type="text/javascript">
	function changePassword(){
		if(validateForm() === true){
			// alert('true');

			// submit to server
			$.ajax({
				method: 'post',
				url: '/acc/password/change',
				data: {
					password:{
						old: $('.passwordDiv input').val(),
						new: $('.reNewPassDiv input').val()
					}
				}
			})
			.then(function(json){

				if(json.isOk){

					// redirect
					window.location.href = json.redirect;

				}
				else{
					// alert(json.msg);
					$('#overalError').html(json.msg);
				}
			});

			// return true;
		}
		else{
			// alert('false');
			// return false;
		}
	}	
</script>
{{/section}}