{{#section 'css'}}

{{/section}}



<!-- product list card -->
<div class="card d-flex justify-content-center">

	<div class="card-header">
		Won products
	</div>

	<!-- products list -->
	<div class=" d-flex flex-column justify-content-around">

		{{#if this.isEmpty}}
		{{else}}
		<!-- sort by -->
		<div class="dropdown ml-3 mt-3">

			sort by 
			<button type="button" class="sortSelected btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

			</button>

			<div class="dropdown-menu">
				<a class="sortOpt dropdown-item" href="javascript:;" onclick="setSortSelected(this.id)" id="sort1" name="descEndTime"><i class="fas fa-arrow-down"></i> Finish time </a>

				<a class="sortOpt dropdown-item" href="javascript:;" onclick="setSortSelected(this.id)" id="sort2" name="ascPrice"><i class="fas fa-arrow-up"></i> Price </a>

			</div>
		</div>
		{{/if}}

		<div class="itemContainer d-flex flex-row flex-wrap justify-content-start">
			{{#if this.isEmpty}}
			<h5 class="ml-3">
				No product.
			</h5>
			{{else}}


			{{#each this.proList}}
			<div class="col col-sm-4 mt-2 mb-2">
				{{> item parent=..}}


				<div class="buttonsChild d-flex flex-row">
					<button class="rateCommentBtn btn btn-primary w-50 mr-2" title="Rate and comment" onclick="rateComment(this)" value="0" id="btnFor_{{BidderName}}_{{BidderId}}">Rate winner</button>

					<button class="cancelDownvoteBtn btn btn-danger w-50" title="Close and down vote winner" onclick="cancelDownvote(this)" value="0" id="btnDiscardFor_{{BidderName}}_{{BidderId}}">Discard</button>


				</div>
			</div>
			{{/each}}
			{{/if}}

		</div>

		<!-- pagination -->
		<div class="pagination d-flex justify-content-start mt-3 ml-3"></div>


	</div>



</div>


{{#section 'js'}}

<!-- onload -->
<script type="text/javascript">
	$(()=>{
		// $('.buttons').html('');
		// $('.buttonsChild').appendTo(".buttons");


		{{#each this.proList}}
		$('#item{{Id}} .buttons').html('');
		$('#item{{Id}}').siblings('.buttonsChild').appendTo($('#item{{Id}} .buttons'));
		{{/each}}

	})
</script>

<!-- pagination -->
<script type="text/javascript" src="/flaviusmatis-simplePagination.js-e32c66e/flaviusmatis-simplePagination.js-e32c66e/jquery.simplePagination.js"></script>

<script type="text/javascript">
	$(()=>{

		
		// pagination
		{{#if this.isEmpty}}
		{{else}}


		$('.pagination').pagination({
			items: {{this.total}},
			itemsOnPage: {{this.onPage}},
			cssStyle: 'light-theme',
			onPageClick: function(pageNumber, event) {
				// Callback triggered when a page is clicked
				// Page number is given as an optional parameter

				window.location.href = `/acc/finishlist?page=${pageNumber}`;
			}

		});

		$('.pagination').pagination('drawPage', {{this.page}});

		{{/if}}
		
	})
</script>


<!-- hight light current menu item -->
<script type="text/javascript">

	$('.finishListMenu').css('background-color', '#329AD6');


</script>

<!-- sort options -->
<script type="text/javascript">

	$(()=>{


		
	})

	// get list
	var list = [];
	{{#each this.proList}}
	list.push(
	{
		Id:{{Id}}, 
		EndTime:'{{EndTime}}',
		Price: '{{Max_Price}}',
	});
	{{/each}}
	// get list done

	// <!-- timer effect for nearly end products -->
	var listNearEnd = [];
	for(let i = 0; i < list.length; i++){

		let remains = remainSeconds(list[i].EndTime);
		if(remains > 0 && remains < 24 * 60 * 60 /*a day*/){

			// red highlight
			$(`#item${list[i].Id} .endTimeBadge`).addClass('badge-danger');

			// counter for less than 5 minutes
			if(remains < 5 * 60){
				listNearEnd.push(list[i]);
				// alert("pushed");
			}

			setTimeout(decreaseEndTime, 1000);
		}
	}


	function decreaseEndTime(){
		console.log('timout');

		// traverse all near end list
		listNearEnd.forEach(item=>{
			let remains = remainSeconds(item.EndTime);
			if(remains > 0){
				// decrease 1 second
				$(`#item${item.Id} .endTimeBadge span`).text('' + remains +' giây nữa');
			}
			else if(remains < 0){

				$(`#item${item.Id} .endTimeBadge span`).text('' + relativeDateTimeConvert(item.EndTime));
				$(`#item${item.Id} .endTimeBadge`).removeClass('badge-danger');



			}
		});

		setTimeout(decreaseEndTime, 1000);
	}

	

	function setSortSelected(btnId){
		// alert(btnId);
		$('.itemContainer').hide();

		// set sort selected
		var html = $(`#${btnId}`).html();
		$('.sortSelected').html(html);

		

		let sortOpt = $(`#${btnId}`).attr('name');
		// alert(sortOpt);
		if(sortOpt === 'descEndTime')
		{

			// sort list

			for(let i = 0; i < list.length - 1; i++){

				// find the nearest end time product
				for(let k = i + 1; k < list.length; k++){

					let remainK = remainSeconds(list[k].EndTime);
					let remainI = remainSeconds(list[i].EndTime);

					// alert('i: ' + i + ', id:' + list[i].Id);
					// alert('k: ' + k+ ', id:' + list[k].Id);
					
					if((remainI > 0 && remainK > 0 && remainK < remainI)
						||(remainK < 0 && remainI <0 && remainK > remainI)
						||(remainK > 0 && remainI < 0))
					{
						// alert('swap');



						let itemFirst = $(`#item${list[i].Id}`);
						let itemLast = $(`#item${list[k].Id}`);

						let htmlFirst = itemFirst.html();
						itemFirst.html($(itemLast).html());
						$(itemLast).html(htmlFirst);

						itemFirst.attr('id', `item${list[k].Id}`);
						itemLast.attr('id', `item${list[i].Id}`);

						// swap item
						let temp = list[i];
						list[i] = list[k];
						list[k] = temp;
					}
				}



			}



		}
		else if(sortOpt === 'ascPrice'){

			// sort list

			for(let i = 0; i < list.length - 1; i++){

				// find the nearest end time product
				for(let k = i + 1; k < list.length; k++){

					let remainK = +list[k].Price;
					let remainI = +list[i].Price;

					// alert('i: ' + i + ', id:' + list[i].Id);
					// alert('k: ' + k+ ', id:' + list[k].Id);

					if(remainK < remainI){
						// alert('swap' + remainI + "," + remainK);



						let itemFirst = $(`#item${list[i].Id}`);
						let itemLast = $(`#item${list[k].Id}`);

						let htmlFirst = itemFirst.html();
						itemFirst.html($(itemLast).html());
						$(itemLast).html(htmlFirst);

						itemFirst.attr('id', `item${list[k].Id}`);
						itemLast.attr('id', `item${list[i].Id}`);

						// swap item
						let temp = list[i];
						list[i] = list[k];
						list[k] = temp;
					}
				}



			}

		}



		// reset item container
		$('.itemContainer').show(1000);




	}
</script>


<!-- rate and comment -->
<script type="text/javascript">

	var bidderName = '';
	var bidderId = '';
	function rateComment(button){


		let tokens = ($(button).attr('id')).split('_');
		bidderName = tokens[1];
		bidderId = tokens[2];

		if(!bidderId || bidderId === ''){
			return Swal.fire(
				'Cannot rate',
				'No bidder to rate',
				'error'
				);
		}

		let htl = 
		'<div class="mb-3">' +
		'<div class="custom-control custom-radio"><input type="radio" class="custom-control-input" id="swal-input1" name="defaultExampleRadios" checked><label class="custom-control-label" for="swal-input1"> +1 <i class="fas fa-thumbs-up"></i></label></div>'+
		'<div class="custom-control custom-radio"><input type="radio" class="custom-control-input" id="swal-input3" name="defaultExampleRadios"><label class="custom-control-label" for="swal-input3">-1 <i class="fas fa-thumbs-down"></i></label></div>'+
		'</div>';


		Swal.fire({

			// title: 'rate comment',
			html:

			`<h1>Rate ${bidderName}</h1>`+

			'<div class="d-flex flex-column align-items-start">' +

			'<div>Point</div>'+
			htl+

			'<div>Comment</div>'+
			'<textarea id="swal-input2" class="swal2-input" style="height:200px;" maxlength="400"></textarea>'+

			'</div>',
			focusConfirm: false,
			showCancelButton: true,
			confirmButtonText:
			'<i class="fas fa-paper-plane"></i> Send',

			preConfirm: () => {

				return [
				document.getElementById('swal-input1').checked,
				document.getElementById('swal-input2').value,
				document.getElementById('swal-input3').checked,
				]
			}
		})
		.then((result) => {
			if(result.value){
				
				// send to server
				let itemDiv = $(button).parent('.buttonsChild').parent('.buttons').parent('.item');
				let proId = itemDiv.attr('id').replace('item', '');
				$.ajax({
					method: 'post',
					url: '/acc/commentrate/add',
					data: {
						toId: bidderId,
						comment: result.value[1],
						point: (result.value[0]===true)?1:-1,
						proId: proId
					}
				})
				.then(function(json){
					if(json.isOk){

						Swal.fire({
							position: 'center',
							icon: 'success',
							title: 'Rate and comment are sent',
							showConfirmButton: false,
							timer: 1300,
							toast: true
						});
					}
					else{
						alert(json.msg);
					}
				});
			}
		});
	}
</script>


<!-- cancel and remove product -->
<script type="text/javascript">
	
	function cancelDownvote(button){

		let tokens = ($(button).attr('id')).split('_');
		bidderName = tokens[1];
		bidderId = tokens[2];

		if(!bidderId || bidderId === ''){
			return Swal.fire(
				'Cannot discard',
				'No bidder to downvote',
				'error'
				);
		}

		var htl = '<div class="mb-3"><div class="custom-control custom-radio"><input type="radio" class="custom-control-input" id="swal-input1" name="defaultExampleRadios" disabled>  <label class="custom-control-label" for="swal-input1">+1 <i class="fas fa-thumbs-up"></i></label>'+
		'</div><div class="custom-control custom-radio">  <input type="radio" class="custom-control-input" id="swal-input3" name="defaultExampleRadios" checked>  <label class="custom-control-label" for="swal-input3">-1 <i class="fas fa-thumbs-down"></i></label></div></div>';


		Swal.fire({

			// title: 'rate comment',
			html:

			`<h1>Discard this product and down vote ${bidderName}</h1>`+

			'<div class="d-flex flex-column align-items-start">' +

			'<div>Point</div>'+
			// '<input id="swal-input1" class="swal2-input">' +
			htl+

			'<div>Comment</div>'+
			// '<input id="swal-input2" class="swal2-input" type="password">' +
			'<textarea id="swal-input2" class="swal2-input" style="height:200px;" readonly>Winner does not pay</textarea>'+

			'</div>',

			showCancelButton: true,
			confirmButtonText:
			'<i class="fas fa-check"></i> Yes',

			preConfirm: () => {

				return [
				document.getElementById('swal-input1').checked,
				document.getElementById('swal-input2').value,
				document.getElementById('swal-input3').checked,
				]
			}

		}).then((result) => {
			if(result.value){


				// send rate to server
				let itemDiv = $(button).parent('.buttonsChild').parent('.buttons').parent('.item');
				let proId = itemDiv.attr('id').replace('item', '');
				$.ajax({
					method: 'post',
					url: '/acc/commentrate/add',
					data: {
						toId: bidderId,
						comment: result.value[1],
						point: (result.value[0]===true)?1:-1,
						proId: proId
					}
				})
				.then(function(json){
					if(json.isOk){

						Swal.fire({
							position: 'center',
							icon: 'success',
							title: 'Rate and comment are sent',
							showConfirmButton: false,
							timer: 1300,
							toast: true
						});

						// remove
						let itemDiv = $(button).parent('.buttonsChild').parent('.buttons').parent('.item');
						let proId = itemDiv.attr('id').replace('item', '');
						$.ajax({
							method: 'post',
							url: '/acc/finishlist/remove',
							data: {
								proId: proId
							}
						})
						.then(function(json){
							if(isOk === true){
								removeCanceledProduct(button);
							}
							else{
								alert(json.msg);
							}
						});

						
					}
					else{
						alert(json.msg);
					}
				});
			}
		})
	}


	var listOfCanceledProducts = [];

	function removeCanceledProduct(button){


		// discard notification
		Swal.fire({
			position: 'bottom-start',
			icon: 'error',
			title: 'Product is discarded',
			showConfirmButton: false,
			timer: 1300,
			toast: true
		});



		// display removing

		var itemDiv = $(button).parent('.buttonsChild').parent('.buttons').parent('.item');
		itemDiv.attr('class', '');
		itemDiv.css('display', 'none');

		listOfCanceledProducts.push(button);


	}
</script>
{{/section}}