

{{#section 'css'}}

{{/section}}

<!-- body -->
<div class=" container">


	<div class="body row justify-content-center">

		<!-- main -->
		<div class="main col-sm-6">

			<div class="card">
				<div class="card-body">
					<div class="error-template d-flex flex-column align-items-center">
						<div><h1><i class="far fa-times-circle" style="font-size: 50px; color: #F27474;"></i>Oops!</h1></div>
						<div><h2>{{this.title}}</h2></div>
						<div class="error-details">
							{{this.description}}
						</div>
						<div class="error-actions">
							<a href="/home" class="btn btn-primary btn-lg">
								<i class="fas fa-home"></i>
								Take Me Home 
							</a>

						</div>
					</div>


				</div>
			</div>



		</div>

	</div>	


</div>


{{#section 'js'}}

{{/section}}

